button,
footer,
header,
input,
main,
.game {
  box-shadow: 0.075rem 0.075rem 0.1rem var(--accent3),
    -0.075rem -0.075rem 0.1rem var(--accent2);
}
body {
  background-color: var(--white);
  color: var(--black);
  font-size: 1.25rem;
}
button {
  background-color: var(--primary);
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem;
}
button:active {
  background-color: var(--secondary);
}
footer,
header {
  background-color: var(--secondary);
  color: var(--white);
}
footer,
header,
main {
  margin: 0.5rem auto;
  padding: 1.5rem;
  width: 85%;
  text-align: center;
}
form div {
  padding: 0.25rem;
  margin: 0.25rem;
}
input {
  padding: 0.25rem;
  margin: 0.25rem;
}
input[type='number'] {
  width: 2rem;
}
label {
  color: var(--accent3);
}
main {
  background-color: var(--primary);
}
pre {
  text-align: left;
}
table {
  margin: 0 auto;
  width: fit-content;
}
td {
  margin: 0.125rem;
  padding: 0.25rem;
}
#notify {
  animation-duration: 2500ms;
  position: absolute;
  top: 20%;
  left: 7.5%;
  padding: 1.5rem;
  width: fit-content;
  text-align: center;
}
.game {
  background-color: var(--secondary);
  margin: 1rem;
  padding: 1rem;
  width: fit-content;
  display: inline-block;
}
.error {
  background-color: var(--error);
}
.success {
  background-color: var(--success);
}
.warning {
  background-color: var(--warning);
}
.curved {
  border-radius: 2rem;
}
