/** TODO: Simplify palettes
 ** Currently using all 8 grayscale + red/green/yellow
 **/
/*
.pal-template {
    --black: #;
    --white: #;
    --primary: #;
    --secondary: #;
    --accent1: #;
    --accent2: #;
    --accent3: #;
    --success: #;
    --warning: #;
    --error: #;
}
*/
/** Default **/
:root {
    --black: #000;
    --white: #fff;
    --primary: #888;
    --secondary: #444;
    --accent1: #d70;
    --accent2: #d0d;
    --accent3: #07d;
    --success: #290;
    --warning: #df0;
    --error: #d00;
}
/** Solarized (Shared) **/
.pal-solar-dk, .pal-solar-lt {
    --success: #859900;
    --warning: #b58900;
    --error: #dc322f;
}
/** Solarized (Dark) **/
.pal-solar-dk {
    --black: #fdf6e3;
    --white: #002b36;
    --primary: #93a1a1;
    --secondary: #657b83;
    --accent1: #6c71c4;
    --accent2: #2aa198;
    --accent3: #d33682;
}
/** Solarized (Light) **/
.pal-solar-lt {
    --black: #002b36;
    --white: #fdf6e3;
    --primary: #586e75;
    --secondary: #657b83;
    --accent1: #6c71c4;
    --accent2: #2aa198;
    --accent3: #d33682;
}
.pal-parchment {
    --black: #;
    --white: #;
    --primary: #;
    --secondary: #;
    --accent1: #;
    --accent2: #;
    --accent3: #;
    --success: #;
    --warning: #;
    --error: #;
}
